* {
    font-family: 'Helvetica', sans-serif;
}

:root {
    --primary: #FFFDD0;
    --secondary: #708090;
}

body {
    background: var(--primary);
    color: var(--secondary);
}

#quizquestions, 
#endofquiz, 
#userhighscores, 
#rightorwronganswer {
    display: none;
}

ul.nobulletsdisplayed {
    list-style-type: none;
}

.quizAnswerButton,
.quizAnswerButton:hover,
.quizAnswerButton:active,
.quizAnswerButton:focus,
.quizAnswerButton:active:focus {
    box-shadow: none;
    outline: none;
}
